nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    color: black;
}

.navbar{
    color: black;
}

ul{
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 0 10px;
}

.logoKinal{
    width: 200px;
    height: 75px;
}

.logoBi{
    width: 125px;
    height: 75px;
}

.morro{
    width: 1900px;
    height: 750px;
}

body{
    color: white;
    font-size: 15px;
    font-family: "Mulish", sans-serif;
    background-size: cover;
}